* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

.stats {
  top: .5rem !important;
  left: .5rem !important;
}
